body {
  background: linear-gradient(#00204f, #8500b2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 50px;
}

h1 {
  font-weight: 200;
  font-size: 2.5em;
  margin: 0;
}

#detection {
  text-align: center;
  color: white;
  font-weight: normal;
}

h3 {
  font-family: "Raleway", sans-serif;
}

#emotion-el {
  color: rgb(255, 183, 0);
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

#video-container {
  text-align: center;
}

#videoElement {
  border-radius: 10px;
}
