body {
  background: linear-gradient(#00204f, #8500b2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  padding: 50px;
}

h3 {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

#video-container {
  text-align: center;
}

#videoElement {
  border-radius: 10px;
}
